<div class="container">
    <div class="row">
        <div class="col-4">
            <%= check_profile_picture(@account, "300px") %>
            
        </div>
        <div class="col-8 text-start" >
            <div class="col-6">
                <%= link_to "Edit Profile", edit_account_registration_path(current_account), class:"btn btn-primary float-end" if can_edit_profile?(@account.id) %>
                <h1><%= @account.username %></h1>
                <br>
            </div>
            <div class="row profile-stats">
                <div class="col-4">
                    <%= @account.posts.count %> Posts 
                </div>
                <div class="col-4">
                    <%= @account.total_followers %> Followers    
                </div>
                <div class="col-4">
                    <%= @account.total_following %> Following 
                </div>
            </div>
            <p> <%= @account.fullname %></p>
            <p> <%= simple_format @account.description %> </p>
            <p> <%= link_to @account.website, @account.website %></p>
            
        </div>
    </div>

    <div class="row profile-posts">
        <% @posts.each do |post| %>
            <div class="col-5">
                <div class="insta-post">
                    <%= link_to (image_tag post.image.url, class: "img-fluid"), show_path(post.id) %>
                   
                </div>
            </div>
        <% end %> 
    </div>
</div>